<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>Lenguajes</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Lenguajes</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
            {% for language in object_list %}
                <tr>
                    <td>{{ language.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'index' %}">Volver al inicio</a>
</body>
</html>
